# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Observations

1. Only nine cities that appear to meet our definition of optimal weather.

2. There appear to be more prime vacation spots in the northern hemisphere.

3. Cloudiness is the most difficult parameter to plan for, and limits the number of prime vacation spots.

In [100]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
# print(f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key={g_key}")

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=AIzaSyCiyVKYg3FYX0fAR2S2RGR1m-kUN947W9s

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [22]:
df = pd.read_csv("../output_data/cities_data.csv")
df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1,Puerto Ayora,74,EC,1596176957,93,-0.74,-90.35,66.99,1.01
1,2,Bredasdorp,0,ZA,1596176957,93,-34.53,20.04,42.80,4.54
2,3,Te Anau,99,NZ,1596176957,90,-45.42,167.72,48.47,0.11
3,4,Alugan,100,PH,1596176958,88,12.22,125.48,79.34,11.34
4,5,Qaanaaq,0,GL,1596176958,85,77.48,-69.36,34.57,3.74

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [32]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [130]:
coordinates = df[["Lat", "Lng"]].astype(float)
humidity = df["Humidity"].astype(float)
heatmap = gmaps.figure(zoom_level=1, center=(0,0))
layer = gmaps.heatmap_layer(coordinates, weights=humidity, dissipating=True, max_intensity=100, point_radius = 15)
heatmap.add_layer(layer)
heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [93]:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph.
#   * Zero cloudiness.
#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# filtered dataframe, best weather
best_weather_df = df[(df["Humidity"] <= 80) & (df["Humidity"] >= 70) & (df["Cloudiness"] == 0) & (df["Wind Speed"] < 10)]
best_weather_df.dropna()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
42,43,Mit√∫,0,CO,1596176662,78,1.20,-70.17,70.29,1.72
81,82,Port Alfred,0,ZA,1596176669,72,-33.59,26.89,57.06,6.49
153,154,Digoin,0,FR,1596176681,73,46.48,3.98,69.80,3.71
173,174,Kruisfontein,0,ZA,1596176684,77,-34.00,24.73,50.29,4.52
370,371,Margate,0,GB,1596176460,71,51.38,1.39,69.01,1.99
372,373,Cabrob√≥,0,BR,1596176737,80,-8.51,-39.31,64.60,7.67
402,403,Isiro,0,CD,1596176743,77,2.77,27.62,73.11,1.74
419,420,Saldanha,0,ZA,1596176747,78,-33.01,17.94,42.80,7.54
565,566,Goderich,0,CA,1596176784,78,43.75,-81.72,72.00,1.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [108]:
hotel_df = best_weather_df
hotel_df['Hotel Name']=''
hotel_df

/Users/danielcarrillo/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
42,43,Mit√∫,0,CO,1596176662,78,1.20,-70.17,70.29,1.72,
81,82,Port Alfred,0,ZA,1596176669,72,-33.59,26.89,57.06,6.49,
153,154,Digoin,0,FR,1596176681,73,46.48,3.98,69.80,3.71,
173,174,Kruisfontein,0,ZA,1596176684,77,-34.00,24.73,50.29,4.52,
370,371,Margate,0,GB,1596176460,71,51.38,1.39,69.01,1.99,
372,373,Cabrob√≥,0,BR,1596176737,80,-8.51,-39.31,64.60,7.67,
402,403,Isiro,0,CD,1596176743,77,2.77,27.62,73.11,1.74,
419,420,Saldanha,0,ZA,1596176747,78,-33.01,17.94,42.80,7.54,
565,566,Goderich,0,CA,1596176784,78,43.75,-81.72,72.00,1.99,

In [121]:
output = 'json'
url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/{output}"
query_params={
    'radius': 5000,
    'key': g_key,
    'types': 'lodging'
}
for i, row in hotel_df.iterrows():
    query_params['location']=f"{row['Lat']},{row['Lng']}"
    response = requests.get(url, params=query_params)
    try:
        hotel_data=response.json()
        hotel_name=hotel_data['results'][0]['name']
        hotel_df.loc[i, 'Hotel Name']=hotel_name
    except:
        pass
    
hotel_df

/Users/danielcarrillo/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
42,43,Mit√∫,0,CO,1596176662,78,1.20,-70.17,70.29,1.72,
81,82,Port Alfred,0,ZA,1596176669,72,-33.59,26.89,57.06,6.49,The Halyards Hotel
153,154,Digoin,0,FR,1596176681,73,46.48,3.98,69.80,3.71,Hotel Du Rond Point
173,174,Kruisfontein,0,ZA,1596176684,77,-34.00,24.73,50.29,4.52,Oyster Bay House Rental
370,371,Margate,0,GB,1596176460,71,51.38,1.39,69.01,1.99,Premier Inn Margate hotel
372,373,Cabrob√≥,0,BR,1596176737,80,-8.51,-39.31,64.60,7.67,Hotel Limarques
402,403,Isiro,0,CD,1596176743,77,2.77,27.62,73.11,1.74,Nova
419,420,Saldanha,0,ZA,1596176747,78,-33.01,17.94,42.80,7.54,Blue Bay Lodge
565,566,Goderich,0,CA,1596176784,78,43.75,-81.72,72.00,1.99,Harmony Inn

In [126]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [131]:
# Add marker layer ontop of heat map
marker_layer=gmaps.marker_layer(locations, info_box_content = hotel_info)
heatmap.add_layer(marker_layer)

# Display figure
heatmap

Figure(layout=FigureLayout(height='420px'))